<div id="header">
  <h1>Welcome to my app</h1>

  <span id="menu">
    <a routerLink="tasks"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >
    |Content |</a>
    <a routerLink="placeholder"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >
    Placeholder |</a>
    <a routerLink="about"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >
    About</a>
    <a routerLink="createTask"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >| Create Tasks |</a>
    <a routerLink="searchTasks"
       routerLinkActive="active"
       ariaCurrentWhenActive="page"
       > Search tasks|</a>
  </span>
</div>
