<div id="header">
  <h4>Welcome to To Do List</h4>

  <button mat-button [matMenuTriggerFor]="menu" id="header-menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/tasks"
      routerLinkActive="page">Content
    </button>

    <button
    mat-menu-item
    routerLink="/placeholder"
    routerLinkActive="page">Placeholder
    </button>

    <button
    mat-menu-item
    routerLink="/about"
    routerLinkActive="page">About
    </button>

    <button
    mat-menu-item
    routerLink="/createTask"
    routerLinkActive="page">Create Task
    </button>

    <button
    mat-menu-item
    routerLink="/searchTasks"
    routerLinkActive="page">Search Task
    </button>

    <button
    mat-menu-item
    routerLink="/doneTasks"
    routerLinkActive="page">Done Tasks
    </button>
  </mat-menu>
</div>
