<div id="header">
  <h4>Welcome to To Do List</h4>

  <button mat-button [matMenuTriggerFor]="menu" id="header-menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/tasks">Content
    </button>

    <button
    mat-menu-item
    routerLink="/placeholder">Placeholder
    </button>

    <button
    mat-menu-item
    routerLink="/about">About
    </button>

    <button
    mat-menu-item
    routerLink="/createTask">Create Task
    </button>

    <button
    mat-menu-item
    routerLink="/searchTasks">Search Task
    </button>

    <button
    mat-menu-item
    routerLink="/doneTasks">Done Tasks
    </button>
  </mat-menu>
</div>
