<h2>Finalizando tasks</h2>

<p>Aenean fringilla tincidunt mauris, eget volutpat purus suscipit et. Suspendisse blandit scelerisque est.
  Curabitur elementum risus sit amet risus convallis, a dignissim nibh hendrerit. Ut id hendrerit tellus. Pellentesque imperdiet
  felis sit amet lectus luctus ultricies. Maecenas sit amet porttitor enim. Quisque id mauris facilisis, accumsan massa eu,
  porta velit. Sed molestie, nisl et ullamcorper malesuada, mauris lorem scelerisque metus, quis malesuada erat dolor eget leo.
  Quisque vitae facilisis magna. Quisque placerat risus ac gravida condimentum.
</p>

<form (ngSubmit)="doneTask()">
  <mat-form-field>
    <mat-label>Finalize sua task</mat-label>
    <input
    matInput
    placeholder="Insira sua busca aqui"
    [(ngModel)]="task"
    type="text"
    name="taskQuery">
  </mat-form-field>
</form> <button mat-raised-button type="submit">Buscar</button>
