body {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  background-color: lightgray;
  margin: auto;
}

.task-input {
  width: 550px;
}

.task-text-area {
  width: 550px;
  height: 350px;
}
