<h2>See the content</h2>

<p>
  Esses dados estão sendo retornados da minha api feita em Spring Boot com Java 21.
</p>

<table *ngIf="task && task.length" class="task-table">
  <thead>
    <tr>
      <th>Tarefa</th>
      <th>Descrição</th>
      <th>Data de Criação</th>
      <th>Completo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of task">
      <td>{{ item.taskName }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.createDate | date:'dd/MM/yyyy' }}</td>
      <td>{{ item.done ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>
