<h2>Procurando task</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl diam, vehicula ut erat eu, imperdiet egestas ex. Nullam consequat luctus
  neque et rhoncus. Etiam aliquam mattis nisi, nec placerat nibh ullamcorper eu. Ut porta nibh erat, vitae vehicula lorem pretium id. Nullam dui dui,
  faucibus quis pellentesque dictum, tempus eu magna. Maecenas tempor, justo nec facilisis iaculis, libero lectus pulvinar tortor, eu iaculis metus
  mi ac quam. Aliquam pellentesque vehicula semper. Quisque sit amet orci nec magna interdum elementum. Aliquam sagittis sapien ut vestibulum interdum.
  In venenatis blandit dictum. Praesent a aliquet eros. </p>

<form (ngSubmit)="findTask()">
  <mat-form-field>
    <mat-label>Busque sua Task</mat-label>
    <input
    matInput
    placeholder="Insira sua busca aqui"
    [(ngModel)]="taskQuery"
    type="text"
    name="taskQuery">
  </mat-form-field>
</form> <button mat-raised-button type="submit">Buscar</button>

<table mat-table [dataSource]="tasks" class="mat-elevation-z8" *ngIf="tasks.length > 0">
  <!-- Task Name Column -->
  <ng-container matColumnDef="taskName">
    <th mat-header-cell *matHeaderCellDef>TaskName</th>
    <td mat-cell *matCellDef="let dataItem">{{ dataItem.taskName }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let dataItem">{{ dataItem.description }}</td>
  </ng-container>

  <!-- Create Date Column -->
  <ng-container matColumnDef="createDate">
    <th mat-header-cell *matHeaderCellDef>CreateDate</th>
    <td mat-cell *matCellDef="let dataItem">{{ dataItem.createDate | date }}</td>
  </ng-container>

  <!-- Done Column -->
  <ng-container matColumnDef="done">
    <th mat-header-cell *matHeaderCellDef>Concluído</th>
    <td mat-cell *matCellDef="let dataItem">{{ dataItem.done ? 'Sim' : 'Não' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="taskHeader"></tr>
  <tr mat-row *matRowDef="let row; columns: taskHeader;"></tr>
</table>

<p *ngIf="tasks.length === 0 && taskQuery.trim()">Nenhuma tarefa encontrada.</p>
